<!DOCTYPE html>
<html>
<head>
  <title>College Rent</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "header" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = "headerContainer" id = "header">
		<div class = "header">
			<div class = "headerTitle">
				<!---COLLEGE RENTAL-->
				<%= image_tag ("ryfur.png"), :class => "logo", :onclick => "window.location.href = '/';"%>
			</div>
			<div class = "headerLinks">
				<a class = "headerLink" id = "shopLink"> SHOP 
					<span class = "drop hidden" id = "dropDown">
						<% categories = Category.all %>
						<% new_cat = Category.new %>
						<% new_cat.name = "all" %>
						<% categories.push(new_cat) %>
						<% categories.each do |c| %>
							<div class = "dropDownItem" id = "drop_down_<%= c.id %>"> 
								<%= c.name %> 
							</div> 
							<script>
								//make menu items change on hover
								var menuItem = document.getElementById('drop_down_<%= c.id%>');
								menuItem.onmouseover = function(event) {
									this.style.color = "gray";
								}
								menuItem.onmouseout = function(event) {
									this.style.color = "black";
								}
								menuItem.onclick = function(event) {
									if ('<%= c.name %>' == "all") {
										window.location.href = "/products/index.html";
									} else {
										window.location.href = "/categories/<%= c.id %>";
									}
								}
							</script>
						<% end %>
					</span>
				</a>
				<%= link_to "BLOG", {:controller => "blog_posts", :action => "index"}, :class => "headerLink" %>
				<%= link_to "ABOUT", {:controller => "static_pages", :action => "about"}, :class=> "headerLink" %>
				<%= link_to "SIGN IN", {:controller => "user_sessions", :action => "new"}, :class => "headerLink" %>
			</div>
		</div>
	</div>
	<script>
		var pageHeader = new Header("header", "shopLink", "dropDown");
	</script>
	<%= yield %>
</body>
</html>
